<h2>standardized-audio-context tests</h2>
<table>
    <tr>
        <th>Chrome v78</th>
        <td>17%</td>
    </tr>
    <tr>
        <th>Firefox v70</th>
        <td>0%</td>
    </tr>
    <tr>
        <th>Web Audio Modules</th>
        <td>?</td>
    </tr>
    <tr>
        <th>standardized-audio-context</th>
        <td>100%</td>
    </tr>
    <tr>
        <th>GoogleChromeLabs</th>
        <td>3%</td>
    </tr>
    <tr>
        <th>javascriptmusic</th>
        <td>?</td>
    </tr>
</table>
<p class="footnote"><a href="https://https://github.com/chrisguttandin/standardized-audio-context/tree/master/test">github.com/chrisguttandin/standardized-audio-context/tree/master/test</a></p>
