<svg version="1.1" viewBox="0 0 225 150">
    <rect fill="#F7DF1E" height="150" x="0" y="0" width="225"></rect>
    <circle cx="112.5" cy="12.5" r="8" fill="#000"></circle>
    <polygon fill="#000" points="80,52 112.5,15 145,52" stroke="#000" stroke-linejoin="round" stroke-width="5"/>
    <circle cx="92" cy="67" r="10" fill="#000"></circle>
    <circle cx="133" cy="67" r="10" fill="#000"></circle>
    <rect x="105.5" width="14" height="14" y="80.5" fill="#000" stroke="#000" stroke-linejoin="round" stroke-width="5"></rect>
    <polygon fill="#000" points="94,106 112.5,85 131,106" stroke="#000" stroke-linejoin="round" stroke-width="5"/>
    <path d="m104.5,114 a16 18 0 0 0 16,0" fill="none" stroke="#000" stroke-linecap="round" stroke-width="4"/>
    <path d="m98,119.5 a29 35 0 0 0 29,0" fill="none" stroke="#000" stroke-linecap="round" stroke-width="4"/>
    <path d="m92,124.5 a41 50 0 0 0 41,0" fill="none" stroke="#000" stroke-linecap="round" stroke-width="4"/>
</svg>
<p class="footnote"><a href="https://twitter.com/ryoyakawai/status/1154660523239063553">twitter.com/ryoyakawai/status/1154660523239063553</a></p>
