<h2>javascriptmusic</h2>
<h3>by Peter Salomonsen</h3>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 400 200">
        <line x1="1" y1="1" x2="1" y2="199" stroke="#0B5FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="200" y="20">main thread</text>
        <line x1="399" y1="1" x2="399" y2="199" stroke="#0B5FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>

        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="200" y="80">schedules rendering with setTimeout()</text>

        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="200" y="120">renders samples</text>

        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="200" y="160">schedules AudioBufferSourceNode</text>
    </svg>
</div>
<p class="footnote"><a href="https://github.com/petersalomonsen/javascriptmusic/blob/master/wasmaudioworklet/audioworkletpolyfill.js">github.com/petersalomonsen/javascriptmusic</a></p>
