<h2>Web Audio Modules</h2>
<h3>by Jari Kleimola</h3>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 400 200">
        <line x1="1" y1="1" x2="1" y2="199" stroke="#0B5FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="60" y="20">worker thread</text>
        <line x1="119" y1="1" x2="119" y2="199" stroke="#0B5FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
        <line x1="141" y1="1" x2="141" y2="199" stroke="#0B5FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="200" y="20">main thread</text>
        <line x1="259" y1="1" x2="259" y2="199" stroke="#0B5FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
        <line x1="281" y1="1" x2="281" y2="199" stroke="#0B5FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="340" y="20">audio thread</text>
        <line x1="399" y1="1" x2="399" y2="199" stroke="#0B5FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>

        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="340" y="80">needs data</text>

        <line x1="240" y1="100" x2="295" y2="100" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
        <polyline fill="none" points="250,90 240,100 250,110" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>

        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="200" y="120">audioprocess</text>

        <line x1="100" y1="140" x2="155" y2="140" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
        <polyline fill="none" points="110,130 100,140 110,150" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>

        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="60" y="160">renders samples</text>

        <line x1="105" y1="180" x2="160" y2="180" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
        <polyline fill="none" points="150,170 160,180 150,190" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
        <line x1="245" y1="180" x2="300" y2="180" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
        <polyline fill="none" points="290,170 300,180 290,190" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
    </svg>
</div>
<p class="footnote"><a href="https://github.com/jariseon/audioworklet-polyfill">github.com/jariseon/audioworklet-polyfill</a></p>
