<h2>WPT tests</h2>
<p><a href="https://web-platform-tests.org">web-platform-tests.org</a></p>
<table>
    <tr>
        <th>Chrome v78</th>
        <td>100%</td>
        <td>100%</td>
    </tr>
    <tr>
        <th>Firefox v70</th>
        <td>56%</td>
        <td>0%</td>
    </tr>
    <tr>
        <th>Web Audio Modules</th>
        <td>12%</td>
        <td>0%</td>
    </tr>
    <tr>
        <th>standardized-audio-context</th>
        <td>71%</td>
        <td>24%</td>
    </tr>
    <tr>
        <th>GoogleChromeLabs</th>
        <td>82%</td>
        <td>12%</td>
    </tr>
    <tr>
        <th>javascriptmusic</th>
        <td>65%</td>
        <td>6%</td>
    </tr>
</table>
<p class="footnote"><a href="https://github.com/web-platform-tests/wpt/tree/master/webaudio/the-audio-api/the-audioworklet-interface">github.com/web-platform-tests/wpt/tree/master/webaudio/the-audio-api/the-audioworklet-interface</a></p>
